<ion-header [translucent]="true">
  <ion-toolbar color="#primary">
    <div class="container">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Mis Direcciones</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Usar mi Ubicación Actual</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Calle 123-6 | San Bernardo</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Departamento 25-D | San Bernardo</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
