<!-- Se mejoro considerablemente el menu y el toolbar con respecto al anterior - Fernando y Benjamin -->
<ion-header>
    <ion-toolbar>
        <div style="display: flex;">
            <ion-buttons slot="start" size="large">
                <ion-menu-button menu="menu-principal"><ion-icon name="menu-outline" size="large" color="light"></ion-icon></ion-menu-button>
            </ion-buttons>
            <div style="display: flex;  width: 100%; justify-content: center;">
                <h1 class="main-title">Camello's Food</h1>
            </div>
        </div>
    </ion-toolbar>
    <ion-toolbar>
        <div style="display: flex;">
            <ion-searchbar id="search" color="light" animated="true"></ion-searchbar>
            <ion-buttons slot="end">
                <ion-menu-button menu="carrito"><ion-icon name="cart-outline" size="large" color="light"></ion-icon></ion-menu-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="display: flex; justify-content: center;">
        <h2>Productos</h2>
    </div>
    <hr>
    <div>
        <ion-grid style="text-align: center;">
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']" detail="false">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/entradas.png" alt=""></div>
                            <div><h2>Entradas</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item [routerLink]="['/perfil-usuario/']" lines="none" detail="false">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/colaciones.png" alt=""></div>
                            <div><h2>Colaciones</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']" detail="false">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/comida_rapida.png" alt=""></div>
                            <div><h3>Comida Rapida</h3></div>
                        </article>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']" detail="false">
                        <article class="categoria">
                            <div style="max-width: 75px;" aria-hidden="true"><img src="../../assets/img/bebestibles.png" alt="" aria-hidden="true"></div>
                            <div><h2>Bebestibles</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <hr>
</ion-content>