<!-- Elimine un div que se veia feo xd -Fernando -->
<ion-header [translucent]="true">
  <ion-toolbar class="xd">

    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Mi perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="height: 170px; width: 100%;">
        <div style="display: flex; ">
          <ion-item style="width: 100%;">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input id="user_name" value="Juan Pérez" disabled></ion-input>
          </ion-item>
          <ion-buttons>
            <ion-button (click)="cambiarNombre()" id="edit_button_name">
              <ion-icon name="create-outline" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div style="display: flex;">
          <ion-item style="width: 100%;">
            <ion-label position="stacked">Correo</ion-label>
            <ion-input value="juan@example.com" id="email" disabled></ion-input>
          </ion-item>
          <ion-buttons>
            <ion-button (click)="cambiarCorreo()" id="edit_button_email">
              <ion-icon name="create-outline" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>

      <div id="confirm-form" style="display: none; justify-content: center;">
        <ion-buttons>
          <ion-button color="primary" type="submit" id="btn_submit" disabled>
            Actualizar
          </ion-button>
          <ion-button disabled id="btn_cancel" (click)="cancelarOperacion()">
            Cancelar
          </ion-button>
        </ion-buttons>
        <ion-alert trigger="btn_submit" header="¿Estas seguro?" subHeader="Estas a punto de actualizar tus datos" [buttons]="alertButton"></ion-alert>
      </div>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <div class="container">
      <ion-item [routerLink]="['./misPedidos']" detail="true"> Mis pedidos </ion-item>
      <ion-item [routerLink]="['./misTarjetas']" detail="true"> Mis tarjetas </ion-item>
      <ion-item [routerLink]="['./misCupones']" detail="true"> Mis cupones </ion-item>
      <ion-item [routerLink]="['./misDirecciones']" detail="true"> Mis direcciones </ion-item>
    </div>
  </ion-card>
</ion-content>