<ion-header [translucent]="true">
    <ion-toolbar color="#primary">
        <div class="container">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
              <ion-title>Camello's Food</ion-title>
              <ion-searchbar placeholder="Búsqueda"></ion-searchbar>
        </div>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
    <div class="container">
        <ion-card>
            <ion-row>
              <!-- Columna para la imagen (lado izquierdo) -->
              <ion-col size="4">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="imagen-izq"/>
              </ion-col>
              <!-- Columna para el contenido (lado derecho) -->
              <ion-col size="8">
                <ion-card-header>
                  <ion-card-title>Card Title</ion-card-title>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card> 
    </div>
    <div class="container">
        <ion-card>
            <ion-row>
              <!-- Columna para la imagen (lado izquierdo) -->
              <ion-col size="4">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="imagen-izq"/>
              </ion-col>
              <!-- Columna para el contenido (lado derecho) -->
              <ion-col size="8">
                <ion-card-header>
                  <ion-card-title>Card Title</ion-card-title>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card> 
    </div>
    <div class="container">
        <ion-card>
            <ion-row>
              <!-- Columna para la imagen (lado izquierdo) -->
              <ion-col size="4">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="imagen-izq"/>
              </ion-col>
              <!-- Columna para el contenido (lado derecho) -->
              <ion-col size="8">
                <ion-card-header>
                  <ion-card-title>Card Title</ion-card-title>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card> 
    </div>
    <div class="container">
        <ion-card>
            <ion-row>
              <!-- Columna para la imagen (lado izquierdo) -->
              <ion-col size="4">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="imagen-izq"/>
              </ion-col>
              <!-- Columna para el contenido (lado derecho) -->
              <ion-col size="8">
                <ion-card-header>
                  <ion-card-title>Card Title</ion-card-title>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card> 
    </div>
</ion-content>
  