<ion-header>
    <ion-toolbar>
        <div style="display: flex;">
            <ion-buttons slot="start" size="large">
                <ion-menu-button menu="menu-principal"><ion-icon name="menu-outline" size="large" color="light"></ion-icon></ion-menu-button>
            </ion-buttons>
            <div style="display: flex;  width: 100%; justify-content: center;">
                <h1 class="main-title">Camello's Food</h1>
            </div>
        </div>
    </ion-toolbar>
    <ion-toolbar>
        <div style="display: flex;">
            <ion-searchbar id="search" color="light" animated="true"></ion-searchbar>
            <ion-buttons slot="end">
                <ion-menu-button menu="carrito"><ion-icon name="cart-outline" size="large" color="light"></ion-icon></ion-menu-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <!-- <img alt="Silhouette of mountains" src="https://picsum.photos/1000/1000/?random=1"/> -->
        <h1 style="font-family: BebasNeue;font-size: 32px; margin: 0px; padding: 0px;">¡Ofertas del Camello!</h1>
        <div class="color-changing-text" style="font-size:30px;margin-inline-start:200px;-webkit-transform: rotate(-8deg);">$5000</div>
    </div>
    
</ion-content>