<!-- Se creo la pagina principal -Fernando -->
<ion-header>
    <ion-toolbar>
        <!-- Menu izquierda -->
        <div style="display: flex;">
            <ion-buttons slot="start">
                <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
            <ion-title class="ion-text-center" style="margin-left: -30px;">Camello's Food</ion-title>
        </div>
        <!-- menu carrito -->
        <div style="display: flex;">
            <ion-searchbar id="search" placeholder="Buscar"></ion-searchbar>
            <ion-buttons slot="end">
                <ion-menu-button color="light" slot="end"></ion-menu-button>
            </ion-buttons>
        </div>
        <br>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="display: flex; justify-content: center;">
        <h2>Productos</h2>
    </div>
    <hr>
    <div>
        <ion-grid style="text-align: center;">
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/entradas.png" alt=""></div>
                            <div><h2>Entradas</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item [routerLink]="['/perfil-usuario/']" lines="none">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/colaciones.png" alt=""></div>
                            <div><h2>Colaciones</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/comida_rapida.png" alt=""></div>
                            <div><h3>Comida Rapida</h3></div>
                        </article>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item lines="none" [routerLink]="['/perfil-usuario/']">
                        <article class="categoria">
                            <div style="max-width: 75px;"><img src="../../assets/img/bebestibles.png" alt=""></div>
                            <div><h2>Bebestibles</h2></div>
                        </article>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <hr>
</ion-content>